{% extends "base.html" %}

{% block header %}
  Home
{% endblock %}

{% block content %}
  <section class="recipes-list">
    {% if recipes %}
      <ul class="recipe-cards">
      {% for recipe in recipes %}
        <li class="recipe-card">
          <h3>{{ recipe.name }}</h3>
          <div class="recipe-card-info">
            {% if recipe.ingredients %}
              <span><strong>Ingredients:</strong> {{ recipe.ingredients[:4]|join(', ') }}{% if recipe.ingredients|length > 4 %}...{% endif %}</span>
            {% endif %}
            {% if recipe.prep_time %}
              <span><strong>Time to Cook:</strong> {{ recipe.prep_time }} minutes</span>
            {% endif %}
            {% if recipe.rating %}
              <span><strong>Rating:</strong> {{ recipe.rating }} Stars</span>
            {% endif %}
          </div>
          <div class="recipe-actions">
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="button-background">
              <span class="button-text">View Dish</span>
            </a>
          </div>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p class="no-recipes">No recipes yet. Create your first recipe!</p>
    {% endif %}
  </section>
{% endblock %}
